@model SistemasColegio.MVC.Models.Colegio.Matricula

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <style>
        /* Reset de estilos y configuración básica */
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }

        body {
            font-family: Arial, sans-serif;
            line-height: 1.6;
            background-color: #F0F8FF;
            padding-top: 3rem; /* Ajusta el espacio superior según sea necesario */
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }

        h4 {
            font-size: 1.8rem;
            margin-bottom: 20px;
            color: #333;
        }

        .form-group {
            margin-bottom: 20px;
        }

        label {
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }

        input[type="text"],
        select {
            width: 100%;
            padding: 10px;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
            transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
        }

            input[type="text"]:focus,
            select:focus {
                outline: none;
                border-color: #66afe9;
                box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
            }

        .btn-primary {
            display: inline-block;
            padding: 10px 20px;
            font-size: 1rem;
            cursor: pointer;
            color: #fff;
            background-color: #BA915D;
            border: none;
            border-radius: 4px;
            text-align: center;
            text-decoration: none;
            transition: background-color 0.3s;
        }

            .btn-primary:hover {
                background-color: #481F23;
            }

        .back-link {
            display: inline-block;
            margin-top: 20px;
            color: #007bff;
            text-decoration: none;
            font-size: 1rem;
        }

            .back-link:hover {
                text-decoration: underline;
            }
    </style>
</head>
<body>

    <div class="container">
        <h4>Crear Matrícula</h4>
        <hr>

        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="AlumnoId" class="control-label">Alumno</label>
                <select asp-for="AlumnoId" asp-items="ViewBag.AlumnoId" class="form-control"></select>
                <span asp-validation-for="AlumnoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GradoId" class="control-label">Grado</label>
                <select asp-for="GradoId" asp-items="ViewBag.GradoId" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="SeccionId" class="control-label">Sección</label>
                <select asp-for="SeccionId" asp-items="ViewBag.SeccionId" class="form-control"></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>

        <a asp-action="Index" class="back-link">Volver al Listado</a>
    </div>

</body>
</html>
